h1{
    display: flex;
    justify-content: center;
    background: rgb(95, 76, 52);
    height: 4rem;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    font-family: cursive;
}